In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_excel('', skiprows=1, sheet_name='AGO 2025', )
mensalidades = pd.read_excel('', index_col=0)

dados = dados.iloc[:-35]

In [ ]:
dados.head()

,CÓD DA FAMILIA,CARTEIRA,DEPENDENCIA,NOME,CPF,NASCIMENTO,MENSALIDADE,CONSULTA,RETROATIVO RN,RETROATIVO,TOTAL
0,90.0,1.371384e+15,Titular,ADAILTON SANTOS OLIVEIRA,738.717.296-04,06/03/1969,323.89,NaN,NaN,NaN,323.89
1,90.0,1.371384e+15,Esposa,APARECIDA RAIMUNDA DIAS OLIVEIRA,004.080.536-07,15/09/1970,323.89,NaN,NaN,NaN,323.89
2,90.0,1.371384e+15,Filho,ANDRE AYRES DIAS OLIVEIRA,131.684.916-32,30/09/2002,323.89,NaN,NaN,NaN,323.89
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,251.0,1.371384e+15,Titular,ADAIR SALVADO JUNIOR,430.541.966-15,13/01/1962,743.94,NaN,NaN,NaN,743.94

In [ ]:
mensalidades.head()

,Nome,Data Nasc.,Módulo,Tipo Valor,Valor,Valor à Repassar
Código,,,,,,
NaN,NaN,NaN,NaN,2a. VIA CARTEIRINHA,194.10,194.10
Código da Família: 90 - ADAILTON SANTOS OLIVEIRA,NaN,NaN,NaN,NaN,NaN,NaN
1371384000090000,ADAILTON SANTOS OLIVEIRA,06/03/1969,701940998.0,Mensalidade,323.89,323.89
1371384000090019,APARECIDA RAIMUNDA DIAS OLIVEIRA,15/09/1970,701940998.0,Mensalidade,323.89,323.89
1371384000090140,ANDRE AYRES DIAS OLIVEIRA,30/09/2002,701940998.0,Mensalidade,323.89,323.89

In [ ]:
for index, row in mensalidades.iterrows():
    nome_mensalidade = row['Nome']
    valor_mensalidade = row['Valor']

    # Find the corresponding row in the 'dados' DataFrame based on 'NOME'
    dados.loc[dados['NOME'] == nome_mensalidade, 'MENSALIDADE'] = valor_mensalidade

display(dados.head())

,CARTEIRA,DEPENDENCIA,NOME,CPF,NASCIMENTO,MENSALIDADE,CONSULTA,RETROATIVO RN,RETROATIVO,TOTAL
CÓD DA FAMILIA,,,,,,,,,,
90.0,1.371384e+15,Titular,ADAILTON SANTOS OLIVEIRA,738.717.296-04,06/03/1969,323.89,NaN,NaN,NaN,0.0
90.0,1.371384e+15,Esposa,APARECIDA RAIMUNDA DIAS OLIVEIRA,004.080.536-07,15/09/1970,323.89,NaN,NaN,NaN,0.0
90.0,1.371384e+15,Filho,ANDRE AYRES DIAS OLIVEIRA,131.684.916-32,30/09/2002,323.89,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251.0,1.371384e+15,Titular,ADAIR SALVADO JUNIOR,430.541.966-15,13/01/1962,743.94,NaN,NaN,NaN,0.0

In [ ]:
dados.head(10)

,CARTEIRA,DEPENDENCIA,NOME,CPF,NASCIMENTO,MENSALIDADE,CONSULTA,RETROATIVO RN,RETROATIVO,TOTAL
CÓD DA FAMILIA,,,,,,,,,,
90.0,1.371384e+15,Titular,ADAILTON SANTOS OLIVEIRA,738.717.296-04,06/03/1969,323.89,NaN,NaN,NaN,0.0
90.0,1.371384e+15,Esposa,APARECIDA RAIMUNDA DIAS OLIVEIRA,004.080.536-07,15/09/1970,323.89,NaN,NaN,NaN,0.0
90.0,1.371384e+15,Filho,ANDRE AYRES DIAS OLIVEIRA,131.684.916-32,30/09/2002,323.89,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251.0,1.371384e+15,Titular,ADAIR SALVADO JUNIOR,430.541.966-15,13/01/1962,743.94,NaN,NaN,NaN,0.0
251.0,1.371384e+15,Esposa,GILMA GONCALVES SALVADO,622.680.906-04,23/08/1966,743.94,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345.0,1.371384e+15,Titular,ADLER DINIZ DE SOUZA,220.462.488-80,30/10/1980,372.01,NaN,NaN,NaN,0.0
345.0,1.371384e+15,Companheiro(a),KATIUCIA DIAS FERNANDES,058.705.166-33,20/02/1984,372.01,NaN,NaN,NaN,0.0
345.0,1.371384e+15,Filha,YASMIN SERENA FERNANDES DINIZ,147.561.176-51,02/01/2015,372.01,NaN,NaN,NaN,0.0

In [ ]:
dados.to_excel('dados_atualizados.xlsx', index=False)

In [ ]:
# Filter out rows where 'NOME' is NaN
dados_filtered = dados.dropna(subset=['NOME'])

# Count null values in 'MENSALIDADE' column for filtered data
null_mensalidades_count = dados_filtered['MENSALIDADE'].isnull().sum()

print(f"O número de valores nulos na coluna MENSALIDADE (onde NOME não é NaN) é: {null_mensalidades_count}")

O número de valores nulos na coluna MENSALIDADE (onde NOME não é NaN) é: 68

In [ ]:
# Filter rows where 'MENSALIDADE' is NaN and 'NOME' is not NaN
nomes_mensalidade_nan = dados[(dados['MENSALIDADE'].isnull()) & (dados['NOME'].notnull())]

# Print the 'NOME' column for the filtered rows
print("Nomes com MENSALIDADE nula:")
for nome in nomes_mensalidade_nan['NOME']:
    print(nome)

Nomes com MENSALIDADE nula:
TALLES GABRIEL ANDRADE RIBEIRO
RONALDO ANDRADE RIBEIRO
ALICE CRISTINA FIGUEIREDO
JOAO VICTOR FIGUEIREDO MOREIRA
MARIA DAS GRACAS BARCELOS DE FIGUEIREDO
ALINE GOMES FERREIRA COSTA
ALLANN BRENO DE SALES PEREIRA
AVANI LAGES TAVARES
ANGELA GLASIELE DE OLIVEIRA
WILLINCON LUIZ DO PRADO
CARLOS SERGIO DA SILVA
ANA LUIZA GAMA GOUVEIA
ALEX DE OLIVEIRA VAZ
FLOREDENILZA ROSELI DOS PASSOS SANTOS
LUCAS PASSOS DOS SANTOS
ALZIRA DA CONCEICAO MOURA
FERNANDA GUIMARAES PIO
GERALDO ELIAS DA SILVA JUNIOR
MATEUS FELIPE MACHADO MARQUES
HELOISA HELENA DOS SANTOS AMANCIO
PAULO CESAR AMANCIO
THIAGO ANDRE AMANCIO
GABRIEL RODRIGUES CANUTO
MICHELLY MARIA GOMES LOPES
LUIZA SILVA RODRIGUES
LUCIANA DA SILVA CARETTI
LUIZ RICARDO DA COSTA
ISABEL CRISTINA RODRIGUES DA COSTA
MYRELLA LOHANNY RODRIGUES DA COSTA
NILDA GARCIA BALDISSERA
MARIA JOANA DE SOUZA LIMA
PETER LUIZ PEREIRA RENNO
MOISES MARTINS GONCALVES
TALLES FRANCA RIBEIRO
MARCO ANTONIO BRAGA GUIMARAES
OTAVIO AUGUSTO DOS SANTOS MARTINS REIS
ROGERIO FELIPE DA COSTA
SILVANA DIAS RODRIGUES
MARIA CLARA GAVIAO RODRIGUES RIBEIRO
MARCIA DA CONCEICAO PEREIRA ALVES
FILIPE SAULO DO NASCIMENTO
VITORIA MARIA GOMES LOPES

In [ ]:
nomes_dados = dados['NOME'].tolist()

for index, row in mensalidades.iterrows():
    nome_mensalidade = row['Nome']
    if nome_mensalidade not in nomes_dados:
        print(nome_mensalidade)

In [ ]:
# Get the names from both dataframes
nomes_mensalidades = mensalidades['Nome'].unique()
nomes_dados = dados['NOME'].unique()

# Find names in 'consultas' that are not in 'dados'
nomes_nao_encontrados = [nome for nome in nomes_mensalidades if nome not in nomes_dados]

# Print the names not found
if nomes_nao_encontrados:
    print("Names in 'mensalidades' not found in 'dados':")
    for nome in nomes_nao_encontrados:
        print(nome)
else:
    print("All names in 'mensalidades' are present in 'dados'.")

Names in 'mensalidades' not found in 'dados':
nan

In [ ]:
# Get the names from both dataframes
nomes_mensalidades = mensalidades['Nome'].unique()
nomes_dados = dados['NOME'].unique()

# Find names in 'dados' that are not in 'mensalidades'
nomes_nao_encontrados_dados = [nome for nome in nomes_dados if nome not in nomes_mensalidades]

# Print the names not found
if nomes_nao_encontrados_dados:
    print("Names in 'dados' not found in 'mensalidades':")
    for nome in nomes_nao_encontrados_dados:
        print(nome)
else:
    print("All names in 'dados' are present in 'mensalidades'.")

Names in 'dados' not found in 'mensalidades':
nan
TALLES GABRIEL ANDRADE RIBEIRO
RONALDO ANDRADE RIBEIRO
ALICE CRISTINA FIGUEIREDO
JOAO VICTOR FIGUEIREDO MOREIRA
MARIA DAS GRACAS BARCELOS DE FIGUEIREDO
ALINE GOMES FERREIRA COSTA
ALLANN BRENO DE SALES PEREIRA
AVANI LAGES TAVARES
ANGELA GLASIELE DE OLIVEIRA
WILLINCON LUIZ DO PRADO
CARLOS SERGIO DA SILVA
ANA LUIZA GAMA GOUVEIA
ALEX DE OLIVEIRA VAZ
FLOREDENILZA ROSELI DOS PASSOS SANTOS
LUCAS PASSOS DOS SANTOS
ALZIRA DA CONCEICAO MOURA
FERNANDA GUIMARAES PIO
GERALDO ELIAS DA SILVA JUNIOR
MATEUS FELIPE MACHADO MARQUES
HELOISA HELENA DOS SANTOS AMANCIO
PAULO CESAR AMANCIO
THIAGO ANDRE AMANCIO
GABRIEL RODRIGUES CANUTO
MICHELLY MARIA GOMES LOPES
LUIZA SILVA RODRIGUES
LUCIANA DA SILVA CARETTI
LUIZ RICARDO DA COSTA
ISABEL CRISTINA RODRIGUES DA COSTA
MYRELLA LOHANNY RODRIGUES DA COSTA
NILDA GARCIA BALDISSERA
MARIA JOANA DE SOUZA LIMA
PETER LUIZ PEREIRA RENNO
MOISES MARTINS GONCALVES
TALLES FRANCA RIBEIRO
MARCO ANTONIO BRAGA GUIMARAES
OTAVIO AUGUSTO DOS SANTOS MARTINS REIS
ROGERIO FELIPE DA COSTA
SILVANA DIAS RODRIGUES
MARIA CLARA GAVIAO RODRIGUES RIBEIRO
MARCIA DA CONCEICAO PEREIRA ALVES
FILIPE SAULO DO NASCIMENTO
VITORIA MARIA GOMES LOPES

In [ ]:
# Check for duplicate names in the 'NOME' column of the 'dados' DataFrame, excluding NaN values
duplicate_names = dados[dados['NOME'].notna() & dados['NOME'].duplicated(keep=False)]

# Display the rows with duplicate names
if not duplicate_names.empty:
    print("Nomes duplicados encontrados na planilha 'dados' (excluindo NaN):")
    display(duplicate_names)
else:
    print("Não há nomes duplicados na planilha 'dados' (excluindo NaN).")

Não há nomes duplicados na planilha 'dados' (excluindo NaN).

In [ ]:
# Filter 'dados' for rows where 'MENSALIDADE' is not NaN
dados_mensalidade_not_null = dados[dados['MENSALIDADE'].notna()]

# Get the names from the filtered 'dados' DataFrame
nomes_dados_mensalidade_not_null = dados_mensalidade_not_null['NOME'].tolist()

# Get the names from the 'mensalidades' DataFrame
nomes_mensalidades = mensalidades['Nome'].tolist()

# Find names in 'dados' with non-null 'MENSALIDADE' that are not in 'mensalidades'
names_in_dados_not_in_mensalidades = [
    nome for nome in nomes_dados_mensalidade_not_null if nome not in nomes_mensalidades
]

# Print the names found
if names_in_dados_not_in_mensalidades:
    print("Nomes presentes em 'dados' (com MENSALIDADE não nula) e não presentes em 'mensalidades':")
    for nome in names_in_dados_not_in_mensalidades:
        print(nome)
else:
    print("Não há nomes em 'dados' (com MENSALIDADE não nula) que não estejam em 'mensalidades'.")

Não há nomes em 'dados' (com MENSALIDADE não nula) que não estejam em 'mensalidades'.

In [ ]:
# Filter out rows where 'Data Nasc.' is NaN
mensalidades_filtered = mensalidades.dropna(subset=['Data Nasc.'])

# Count the occurrences of each name in the filtered DataFrame
name_counts = mensalidades_filtered['Nome'].value_counts()

# Filter for names that appear more than once
duplicate_names_counts = name_counts[name_counts > 1]

# Display the counts of duplicate names
if not duplicate_names_counts.empty:
    print("Contagem de nomes duplicados encontrados na planilha 'mensalidades' (excluindo Data Nasc. nulo):")
    display(duplicate_names_counts)
else:
    print("Não há nomes duplicados na planilha 'mensalidades' (excluindo Data Nasc. nulo).")

Contagem de nomes duplicados encontrados na planilha 'mensalidades' (excluindo Data Nasc. nulo):

Nome
ISABELA GUIMARAES DIAS    2
Name: count, dtype: int64

In [ ]:
# Filter out rows where 'Data Nasc.' is NaN
mensalidades_filtered = mensalidades.dropna(subset=['Data Nasc.'])

# Check for duplicate names in the 'Nome' column of the filtered DataFrame
duplicate_names_mensalidades = mensalidades_filtered[mensalidades_filtered['Nome'].duplicated(keep=False)]

# Display the rows with duplicate names
if not duplicate_names_mensalidades.empty:
    print("Nomes duplicados encontrados na planilha 'mensalidades' (excluindo Data Nasc. nulo):")
    display(duplicate_names_mensalidades)
else:
    print("Não há nomes duplicados na planilha 'mensalidades' (excluindo Data Nasc. nulo).")

Nomes duplicados encontrados na planilha 'mensalidades' (excluindo Data Nasc. nulo):

,Nome,Data Nasc.,Módulo,Tipo Valor,Valor,Valor à Repassar
Código,,,,,,
1371384000201309,ISABELA GUIMARAES DIAS,15/09/2025,701941996.0,Mensalidade,148.80,148.80
1371384000201309,ISABELA GUIMARAES DIAS,15/09/2025,701941996.0,Mensalidade,372.01,372.01